body {
  width: 100vw;
  height: 100vh;
  display: block;
}
:root {
  --appbackground: #c4c4c3;
  --itemsbackground: #e3c56b;
  --error: #bb463d;
  --textMainBlue: #162b42;
  --textSecoundaryBlue: #0d425a;
  --white: #ffffff;
  --black: rgba(0, 0, 0, 0.733);
  --btnActive: #c69b19;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topnav-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top-nav {
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: var(--appbackground);

}

.list-topnav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.col2 {
  width: 60%;
}
.col4 {
  width: 40%;
}

.list-topnav-items {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.list-topnav-items input{
  border-style:none;
  width: 50%;

}
.list-topnav-items a {
  text-decoration: none;
  color: var(--textMainBlue);
  font-weight: bolder;
  font-size: 25px;
  font-style: oblique;
}

.topnav-btn {
  width: 3rem;
  height: 3rem;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--itemsbackground);
  border-color: var(--textMainBlue);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease;
}

.topnav-btn:hover {
  transform: scale(1.1);
}

.topnav-btn img {
  width: 100%;
}

.topnav-search {
  height: 1.5rem;
  width: 15em;
  border: 1.6px solid black;
}
